{% extends '/base.twig' %}
{% block content %}
    {% set t = {'yy':'ert'} %}
    {% set arr = this.app.service('test').test(t) %}
    {% for k , a in arr %}
        <li>{{ k }} : {{ a }}</li>
    {% endfor %}

    {% this.service('test').present().fullName() %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/js/main.js"></script>
{% endblock %}
